<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.owner.assetsparam">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 基础模块 END -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name="com.owner.assetsparam.view.activity.AssetsArgumentActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.owner.assetsparam.view.activity.FourCategoryDetailActivity"/>
        <activity android:name="com.owner.assetsparam.view.activity.RegisterAssetActivity"/>
    </application>
</manifest>
